/* global */
@font-face{
    font-family: chelseaRegular;
    src: url('../fonts/ChelseaMarket-Regular.ttf');
}
@font-face{
    font-family: cursiveReg;
    src: url(../fonts/RemachineScript_Personal_Use.ttf);
}
@font-face{
    font-family: subway;
    src: url(../fonts/Subway.ttf);
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: chelseaRegular;
    font-size: 10px;
    box-sizing: border-box;
    color: #6C63FF;
    background: #EEEDFA;
}
/*mynav*/
.my-navbar{
    z-index: 2000;
    width: 100vw;
    height: 2vh;
    background: #EEEDFA;
    bottom: 0;
    left: 0;
    position: fixed;
}
li.item-nav a{
    text-decoration: none;
}
li.item-nav.active ion-icon, li.item-nav.active a{
    color: blueviolet;
}
li.item-nav-col.active ion-icon, li.item-nav-col.active span{
    color: blueviolet;
}
.nav-navbar{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 10vh;
}
.nav-navbar-collapse{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 10vh;
    /* display: none; */
}
.nav-navbar-collapse li a ion-icon{
    font-size: 1.5rem;
}
.item-nav-col{
    margin: auto;
}
.item-nav{
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.item-nav:nth-last-child(3){
    margin-left: auto;
}


/* navigation bar*/
nav{
    width: 100vw;
    min-height: 10vh;
    background: transparent;
}
.navbar-nav li a, .navbar-nav{
    font-size: 1.2rem;
    color: #6C63FF !important;
}
.navbar-nav li a:hover, .navbar-nav > .active > a {
    color: blue !important;
    font-size: 1.2rem;
    font-weight: bold;
}
.navbar .navbar-collapse {
    width: 100vw;
    text-align: center;
  }
.navbar-collapse li a {background: transparent; justify-content: center; align-items: center;}

/*pages overlap & sizing*/
.page{
    width: 100vw;
    height: 90vh;
}
.about{
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
    height: 90vh;
    pointer-events: none;
}
.home, .about, .skills, .projects, .contact{
    overflow-y: auto;
}
/*Testing-start*/

main{
    width: 100vw;
    height: 90vh;
    /* margin-bottom: 5rem; */
    display: flex;
    /* justify-content: space-around; */
}
main section{
    width: 100%;
    height: 90vh;
    /* max-width: 900px; */
    /* max-height: 90vh; */
}
/*Home*/
#grid-home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    padding: 0 4rem;
    padding-top: 2rem;
}
.box img{
    width: 100%;
    height: 100%;
    display: cover;
    object-fit: cover;
}
.box h1{
    font-size: 3rem;
}
.box h3{
    font-family: cursiveReg;
    font-size: 3rem;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box:nth-child(1){
    grid-row: 1/2;
    grid-column: 1/3;
}
/*About*/
#grid-about{
    display: grid;
    padding: 0 5rem;
    padding-top: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    text-align: center;
    grid-column-gap: 2rem;
}
.card{
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(49, 24, 253, 0.9) 0%, rgba(108, 99, 255, 0.8) 100%)
        , url(../images/stars.jpg) center no-repeat;
    background-size: cover;
    color: wheat;
    padding: 0 3rem;
    /* margin: 1rem; */
}
.card .face1{
    padding-top: 2rem;
}
.card .face2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.card h3{
    font-family: subway;
    font-size: 2rem;
}
.card p{
    border-radius: 0%;
    font-size: 0.8rem;
}
.about-box:nth-child(1){
    grid-row: 1/2;
    grid-column: 1/4;
}
.intro-section h3{
    font-size: 2.4rem;
}
.intro-section p{
    font-size: 1.2rem;
}
.card-img-top{
    font-size: 5rem;
}
.icon-link{
    font-size: 2rem;
    padding: 0 0.5rem;
    color: wheat;
}

/*Smaller screens*/
@media only screen and (max-width: 800px) {
    .item-nav{
        font-size: 0.8rem;
        /* padding: 0.5rem; */
        text-align: center;
    }
    .item-nav:nth-last-child(8){
        margin: auto;
    }
    nav{
        width: 100vw;
        min-height: 10vh;
        background: cornflowerblue;
    }
    .navbar-collapse li a {background: cornflowerblue; justify-content: center; align-items: center;}
    #grid-home{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0px 1rem;
    }
    .box:nth-child(1){
        grid-row: 1/2;
    }
    .box:nth-child(2){
        grid-row: 2/3;
        /* background-color: tan; */
    }
    .box:nth-child(3){
        grid-row: 3/4;
        padding-bottom: 5rem;
        /* background: wheat; */
    }
    .box h1{
        font-size: 1.4rem;
    }
    .box h3{
        font-family: chelseaRegular;
        font-size: 1rem;
    }
    #grid-about{
        display: grid;
        padding: 2rem 2rem;
        /* padding-top: 2rem; */
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
        text-align: center;
        grid-column-gap: 0;
    }
    .about-box:nth-child(1){
        grid-row: 1/2;
    }
    .about-box:nth-child(2){
        grid-row: 2/3;
        margin-bottom: 1rem;
    }
    .about-box:nth-child(3){
        grid-row: 3/4;
        margin-bottom: 1rem;
    }
    .about-box:nth-child(4){
        grid-row: 4/5;
        margin-bottom: 1rem;
        padding-bottom: 5rem;
    }
}
/*Testing-end*/
/* home */
/* .home{
    justify-content: space-evenly;
}
.home-container{
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
    justify-content: center;
    align-content: center;
}
.home-container .home-head{
    width: 100vw;
    height: 45vh;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.home-container .home-head h1{
    font-size: 1.5rem;
    font-weight: 600;
}
.home-container .home-head h3{
    font-size: 1.3rem;
}
.home-container .home-head p{
    padding-top: 2rem;
    font-size: 1.0rem;
}
.home-container .home-svg{
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}
.home-container .home-svg img{
    width: 100vw;
    height: 45vh;
    padding: 0 1rem;
    
} */

/* about */
/*.about{
    justify-content: space-evenly;
    height: 90vh;
}
.about-container{
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
    justify-content: center;
    align-content: center;
}
.about-head{
    width: 100vw;
    height: 30vh;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.about-head p{
    font-size: 0.9rem;
}
.about-slides{
    width: 100vw;
    height: 60vh;
    text-align: center;
    justify-content: center;
}
.about-slides-container{
    border-radius: 2%;
    margin: 0 auto;
    margin-top: 2rem;
    position: relative;
    width: 80%;
    height: 80%;
    padding-bottom: 100%;
    color: wheat;
    background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%)
        , url(../images/stars.jpg) center no-repeat;
    align-content: center;
    border: solid 1rem #2c2c2c;
}
.slide-content{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
#s1, #s2, #s3{
    display: none;
    transition: 0.5s;
} 
.pre, .nxt{
    width: 25%; 
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
    cursor: pointer;
}
.pre{
    left: 0;
}
.nxt{
    right: 0;
}
.slide-nav{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}
.dots{
    top: 20px;
    width: 12px;
    height: 12px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
}
.slide-content{
    z-index: -1;
    transition: 0.2s ease-in-out;
}
#s1:checked ~ #one,
#s2:checked ~ #two,
#s3:checked ~ #three{
    z-index: 9;
    transition: 1s ease-in-out;
}
#s1:checked ~ .slide-nav #dot1,
#s2:checked ~ .slide-nav #dot2,
#s3:checked ~ .slide-nav #dot3{
    background: wheat;
    transition: 0.2s;
}
.about-slide-head{
    height: 100%;
}
.card{
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    background: transparent;
    border: 0;
    justify-content: center;
    text-align: center;
}
.card-img-top{
    width: 5rem;
    padding-bottom: 0.5rem;
}
ion-icon{
    font-size: 1.5rem;
    color: wheat;
    padding: 0 0.5rem;
}*/